body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff8f9;
  }
  
  h2 {
    color: #412c01;
  }
  
  .navbar-brand img {
    height: 50px;
  }
  
  .form-contato input,
  .form-contato textarea {
    border-radius: 0.5rem;
    border: 1px solid #f3dfe1;
  }
  
  .btn-enviar {
    background-color: #644234;
    border: none;
    color: #fff;
    font-weight: 600;
  }
  
  .btn-enviar:hover {
    background-color: #4d3328;
    color: #fff;
  }
  
  .img-contato {
    max-height: 500px;
    object-fit: contain;
  }
  
